<clickhouse>
    <path>/data/clickhouse/</path><!-- with trailing slash. -->
    <tmp_path>/data/clickhouse/tmp/</tmp_path><!-- with trailing slash. -->
    <user_files_path>/data/clickhouse/user_files/</user_files_path><!-- with trailing slash. -->
    <format_schema_path>/data/clickhouse/format_schemas/</format_schema_path><!-- with trailing slash. -->
</clickhouse>