<clickhouse>
    <storage_configuration>
        <disks>
            <default>
            </default>
            <hot_disk>
                <path>/data/clickhouse/_storage-hot/</path>
            </hot_disk>
        </disks>
        <policies>
            <waterfall>
                <volumes>
                    <hot_volume>
                        <volume_priority>1</volume_priority>
                        <disk>hot_disk</disk>
                    </hot_volume>
                    <default>
                        <volume_priority>2</volume_priority>
                        <disk>default</disk>
                    </default>
                </volumes>
                <move_factor>0.15</move_factor>
            </waterfall>
        </policies>
    </storage_configuration>
</clickhouse>
