<clickhouse>
    <path>/data/chkeeper</path>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-keeper/clickhouse-keeper.log</log>
        <errorlog>/var/log/clickhouse-keeper/clickhouse-keeper.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>
    <listen_host>0.0.0.0</listen_host>
    <keeper_server>
        <tcp_port>9181</tcp_port>
        <server_id>{{ chkeeper_myid }}</server_id>
        <log_storage_path>/data/chkeeper/log</log_storage_path>
        <snapshot_storage_path>/data/chkeeper/snapshots</snapshot_storage_path>
        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>trace</raft_logs_level>
        </coordination_settings>
        <raft_configuration>
     {% for node in chkeeper_config_nodes %}
           <server>
              <id>{{ node.myid }}</id>
              <hostname>{{ node.name }}</hostname>
              <port>9234</port>
              <can_become_leader>true</can_become_leader>
              <start_as_follower>true</start_as_follower>
              <priority>{{ node.priority }}</priority>
           </server>   
     {% endfor %}
        </raft_configuration>
    </keeper_server>
</clickhouse>